/* Default styles */
body {
  font-size: 16px;
  background-color: white;
  margin: 0;
  padding: 0;
}

/* Styles for extra small screens (max-width: 576px) */
@media (max-width: 576px) {
  body {
    font-size: 12px;
    background-color: #f9f9f9;
  }

  .header_style h3 {
    font-size: 14px;
  }

  .btn {
    font-size: 12px;
    padding: 8px 12px;
  }

  .form-control, .form-select {
    font-size: 12px;
  }
}

/* Styles for small screens (576px to 768px) */
@media (min-width: 576px) and (max-width: 768px) {
  body {
    font-size: 12px;
  }

  .header_style h3 {
    font-size: 14px;
  }

  .btn {
    font-size: 12px;
    padding: 10px 15px;
  }
}

/* Styles for medium screens (768px to 992px) */
@media (min-width: 768px) and (max-width: 992px) {
  body {
    font-size: 12px;
    background-color: lightgray;
  }

  .card {
    margin: 10px;
    padding: 15px;
  }

  .card-title {
    font-size: 12px;
  }
}

/* Styles for large screens (992px and above) */
@media (min-width: 992px) {
  body {
    font-size: 14px;
    background-color: white;
  }

  .card {
    margin: 15px;
    padding: 20px;
  }

  .card-title {
    font-size: 14px;
  }
}

/*header*/

.header_style{
background-color: #111;
border-bottom:5px solid #3366ff;
text-align: center;
}

/*side nav separator style*/
.hr_style{
border-bottom:2px solid #3366ff;
}

.input-group span{

background-color: #8de4e9;
color: black;
font-weight: bold ;
font-size:12px!important;
font-family: 'Poppins', sans-serif;
}

.form-control,.form-select{
font-family: 'Poppins', sans-serif;
background-color:#e6e6e6;

}

/*Button*/
.btn{
     box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
/*Data Table*/
.table{
font-family: 'Poppins', sans-serif;
background-color:white;
border-color:black;
}

.table.dataTable thead tr th {
  color: white;
  text-align:center;
}

.shadow-box-table {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* strong shadow */
    transition: box-shadow 0.3s ease;
    padding-block: 10px;
    border-radius: 5px;
    background-color:white;
    padding:10px;
    margin:5px;
}

.nav-link {
  transition: color 0.3s ease, transform 0.3s ease;
    color: white !important; /* Default color */
    font-family: 'Poppins', sans-serif;
}

.nav-link:hover {
  color: #61C799 !important; /* Bootstrap warning color or any other */
  transform: scale(1.05);     /* Slight zoom effect */
  text-decoration: none;      /* Optional: remove underline */
}


